@page "/PrintWacomStand"

<h3 style="text-align:center">Halterung für Wacom Pro</h3>

<div>
    Zu Weihnachten habe ich ein neues Wacom Tablet bekommen um meine 3D-Modelle in Blender noch besser gestalten zu können :)
</div>
<div>
    Damit es nicht total verstaubt und auch nicht beschädigt wird, sollte
    meine Katze mal auf den Tisch springen, musste eine praktikable Lösung für die Aufbewahung her.
</div>
<div>
    Also Konstruierte ich mir eine Halterung für mein Tablet in Blender-3D.<br />
    Ausserdem dachte ich mir wenn ich schon dabei bin mache ich mir auch noch eine kleine Box in der ich einige
    Stifte aufbewahren kann.
</div>
<div class="imageContainer">
    <img src="projects/printing/wacomstand/wacompro-pencilholder.jpg" />
    <img src="projects/printing/wacomstand/wacompro-blender.jpg" />
</div>
<div>Anschließend habe ich die 3D-Modelle als .stl exportiert und mit Cura (Slicer) für den 3D-Druck (i3-Mega) vorbereitet.</div>
<div class="imageContainer">
    <img src="projects/printing/wacomstand/01.jpg" />
    <img src="projects/printing/wacomstand/02.jpg" />
    <img src="projects/printing/wacomstand/03.jpg" />
</div>
<div>
    Das Filament war etwas störrisch. Beim schnellen verfahren sind starke Fäden entstanden.
    Diese habe ich anschließend mit einem Schraubendreher und einem Dremel entfernt.<br />
    Um die Oberfläche etwas zu verfeinern wurde anschließend noch mit Sandpapier nachbearbeitet.
</div>
<div class="imageContainer">
    <img src="projects/printing/wacomstand/04.jpg" />
    <img src="projects/printing/wacomstand/05.jpg" />
</div>
<div>
    Damit der Druck auch so gut wie möglich hällt und nicht bricht wenn er seitlich belastet wird habe ich ihn anschließend mit Epoxidharz lakiert.
</div>
<div class="imageContainer">
    <img src="projects/printing/wacomstand/06.jpg" />
    <img src="projects/printing/wacomstand/07.jpg" />
    <img src="projects/printing/wacomstand/08.jpg" />
</div>
<div>
    Nachdem das Epoxidharz komplett ausgehärtet war wurde die Stiftbox und die halterung mithilfe von
    Supterkleber miteinander verbunden.
</div>
<div>Jetzt hat das Tablet einen sicheren und Praktischen platz auf meinem Schreibtisch</div>
<div class="imageContainer">
    <img src="projects/printing/wacomstand/09.jpg" />
    <img src="projects/printing/wacomstand/10.jpg" />
    <img src="projects/printing/wacomstand/11.jpg" />
    <img src="projects/printing/wacomstand/12.jpg" />
    <img src="projects/printing/wacomstand/13.jpg" />
    <img src="projects/printing/wacomstand/14.jpg" />
</div>



@code {

}
