@page "/PrintWacomStand"

<h3 style="text-align:center">Halterung für Wacom Pro</h3>

<div>Um die Siebe meiner Rocket Mozzafiato Chronometro R direkt an der Maschine lagern zu können habe ich eine
    Halterung in Blender-3D konstruiert. 
</div>
<div style="display:flex; justify-content:center">
    <img src="projects/printing/portafilter/siebhalterung.png" />
</div>
<div>Anschließend habe ich das Modell mit der Software Cura für meinen i3-Mega 3D-Drucker vorbereitet 
    und gedruckt.
</div>
<div style="display:flex; justify-content:center;">
    <img src="projects/printing/portafilter/1.jpg" />
    <img src="projects/printing/portafilter/2.jpg" />
    <img src="projects/printing/portafilter/3.jpg" />
    <img src="projects/printing/portafilter/4.jpg" />
    <img src="projects/printing/portafilter/5.jpg" />
    <img src="projects/printing/portafilter/6.jpg" />
    <img src="projects/printing/portafilter/7.jpg" />

</div>

@code {

}
