.navContainer{
    display:flex;
    justify-content:normal;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    align-content:center;
}

.centerNavItem {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: none;
}

.leftNavItem {
    width: 5rem;
    height: 5rem;
    background-image: url('images/navbar/csharp.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 50%;
}

.rightNavItem {
    width: 5rem;
    height: 5rem;
    background-color: black;
}