@inject NavigationManager NavManager

<div class="navContainer">
    <div class="leftNavItem"></div>
    <div class="centerNavItems">
        <NavButtonComponent NavigationLink="/BlenderProjects" ButtonText="Blender 3D" ImageLink="images/blender_logo_kit/square/blender_icon_256x256.png"></NavButtonComponent>
        <NavButtonComponent NavigationLink="" ButtonText="3D-Druck" ImageLink="images/navbar/3D-Printer_white.png"></NavButtonComponent>
        <NavButtonComponent NavigationLink="/UnityProjects" ButtonText="Unity 3D" ImageLink="images/navbar/U_Cube_1C_White.png"></NavButtonComponent>
        <NavButtonComponent NavigationLink="" ButtonText="C#" ImageLink="images/navbar/CSharpDragon.png"></NavButtonComponent>
        <NavButtonComponent NavigationLink="" ButtonText="Kochen" ImageLink="images/navbar/cat-cook.png"></NavButtonComponent>
    </div>
    <div class="rightNavItem"></div>
</div>