@inject NavigationManager NavManager

<div class="navContainer">
    <div class="leftNavItem"></div>
    <div class="centerNavItem">
        <NavButtonComponent ButtonText="Blender 3D"></NavButtonComponent>
        <NavButtonComponent ButtonText="Unity 3D"></NavButtonComponent>
    </div>
    <div class="rightNavItem"></div>

</div>