@inject NavigationManager NavManager

<div class="navContainer">
    <div class="leftNavItem"></div>
    <div class="centerNavItem">
        <NavButtonComponent></NavButtonComponent>
        <NavButtonComponent></NavButtonComponent>
    </div>
    <div class="rightNavItem"></div>

</div>