@rendermode InteractiveServer

@inject NavigationManager NavManager

<div class="container">
    <div class="image"></div>
    <div class="descripiton"></div>
</div>

@code {
    [Parameter]
    public string ButtonText { get; set; } = "NoTextSet!";

    [Parameter]
    public string NavigationLink { get; set; } = "/";
}
