@rendermode InteractiveServer

@inject NavigationManager NavManager

<div class="buttonContainer" @onclick=OnNavButtonClicked>
    <div class="buttonImage" style="background-image:url('@ImageLink')"></div>
    <div class="buttonDescripiton">@ButtonText</div>
</div>

@code {
    [Parameter]
    public string ButtonText { get; set; } = "NoTextSet!";
    [Parameter]
    public string ImageLink { get; set; } = string.Empty;

    [Parameter]
    public string NavigationLink { get; set; } = "/";

    private void OnNavButtonClicked()
    {
        NavManager.NavigateTo(NavigationLink);
    }

}
