
@rendermode InteractiveServer
@inject NavigationManager NavManager

<div class="cardMainContainer" style="background-image:url(@ImageLink)" @onclick=@(() => NavManager.NavigateTo(PageLink))>
</div>


@code{
    [Parameter]
    public string ImageLink { get; set; } = string.Empty;
    [Parameter]
    public string ImageText { get; set; } = string.Empty;
    [Parameter]
    public string PageLink { get; set; } = "/";
}
