.cardMainContainer {
    margin:2rem;
    height: 14rem;
    width: 14rem;
    border: 1px solid orange;
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 1);
    background-size:cover;
    background-repeat:no-repeat;
}

@media(min-width:900px)
{
    .cardMainContainer{
        height:20rem;
        width:20rem;
    }
}
