@page "/BlenderProjects"

@inject ProjectDataContainer DataContainer

<PageTitle>Blender Projects</PageTitle>

<h1 style="text-align:center">Blender Projekte</h1>

<div class="cardContainer">
    @foreach (var data in DataContainer.CardsData)
    {
        if(data.ProjectType == ProjectType.Blender)
        {
            <ProjectCardComponent ImageLink=@data.ImageLink ImageText=@data.ImageText PageLink=@data.PageLink></ProjectCardComponent>
        }
    }
</div>


@code
{
}