@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>Zusatz</div>
<ProjectCard ImageLink="favicon.png" ImageText="favicon" PageLink="/BlenderProjects"></ProjectCard>