@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>Zusatz</div>
<div style="background-image:url('images/navbar/csharp.png'); height:10rem; width:10rem;"></div>