@page "/"

@inject ProjectDataContainer DataContainer

<PageTitle>Home</PageTitle>

<h1 style="text-align:center">Alle Projekte</h1>

<div class="cardContainer">
    @foreach (var data in DataContainer.CardsData)
    {
        <ProjectCardComponent ImageLink=@data.ImageLink ImageText=@data.ImageText PageLink=@data.PageLink></ProjectCardComponent>
    }
</div>


@* <ProjectCardComponent ImageLink="projects/printing/wacomholder/01.jpg" ImageText="favicon" PageLink="/PrintWacomStand"></ProjectCardComponent> *@



@code
{
}