
<div class="cardMainContainer">
    <img class="imageContainer" src="@ImageLink" alt:"Image Link: @imageLink" />
    <div class="imageText">@ImageText</div>
</div>


@code{
    [Parameter]
    public string ImageLink { get; set; } = string.Empty;
    [Parameter]
    public string ImageText { get; set; } = string.Empty;
    [Parameter]
    public string PageLink { get; set; } = "/";
}